<?xml version="1.0" encoding="UTF-8"?>
<!-- status：log4j2内部日志输出级别 -->
<!-- monitorInterval：检测配置文件变更间隔，自动重新加载，单位秒 -->
<configuration status="WARN" monitorInterval="30">
    <appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!-- 日志文件输出 -->
        <!-- append：重启后是否清空日志文件 -->
        <File name="SingleLog" fileName="lab/logs/single.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>

        <!-- 滚动日志文件输出 -->
        <RollingFile name="RollingFileInfo" fileName="lab/logs/info.log"
                     filePattern="logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <!-- 设置日志大小上限 -->
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <!-- 当日志超过上限会自动存入按年月建立的文件夹下面并进行压缩，作为存档-->
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <!-- DefaultRolloverStrategy：设置同一文件夹最多保存几个日志文件，默认 7 个 -->
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <RollingFile name="RollingFileError" fileName="lab/logs/error.log"
                     filePattern="logs/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </appenders>

    <!-- 定义logger，只有定义了logger并引入的appender，appender才会生效-->
    <loggers>
        <!-- 可以指定包路径下的日志级别，过滤掉spring和mybatis的一些无用的DEBUG信息 -->
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.mybatis" level="INFO"/>
        <!-- 设置全局日志级别 -->
        <root level="Info">
            <appender-ref ref="Console"/>
            <!--<appender-ref ref="SingleLog"/>-->
            <!--<appender-ref ref="RollingFileInfo"/>-->
            <!--<appender-ref ref="RollingFileError"/>-->
        </root>
    </loggers>
</configuration>