<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"
            />
        </Console>
        <Sentry name="SENTRY" minimumEventLevel="ERROR" minimumBreadcrumbLevel="WARN"/>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="SENTRY" level="ERROR"/>
        </Root>
    </Loggers>
</Configuration>